/*#one_c {

	float:left;
	margin: 0 1.5%;
	width:20%;
}

#two_c {
	float:left;
	margin:0 1.5%;
	width:20%;
}

#three_c {

	float:left;
	margin: 0 1.5%;
	width:20%;
}

#four_c {
	float:left;
	margin:0 1.5%;
	width:20%;
}*/